#super-container {
    flex-direction: column;
}

div, header, aside {
    display: flex;
}

.main-container {
    width: 60%;
}

.menu-container {
    flex-direction: row;
    background-color: lavender;
}

.content-container {
    background-color: lightgoldenrodyellow;
}

.title-container {
    background-color: lightgreen;
}

.text-container {
    background-color: lightgrey;
}

.button-container {
    background-color: lightseagreen;
}

img {
    width: 100px;
    height: 100px;
}

.sidebar-container {
    flex-direction: column;
    width: 40%;


}

figcaption {
    font-size: 10px;
}